In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [3]:
## load the training model,scaler,pickels,encoders
model=load_model('model.h5')

with open('labelencoder.pkl','rb') as file:
    label_encoder=pickle.load(file)
    
with open('onehotencoder.pkl','rb') as file:
    one_hotencoder=pickle.load(file)
    
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [4]:
# input data
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [25]:
input_df=pd.DataFrame([input_data])
input_df['Gender']=label_encoder.transform(input_df[['Gender']])
input_df

c:\Users\mohdz\OneDrive\Desktop\python\venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [27]:
onehotencoded=one_hotencoder.transform(input_df[['Geography']]).toarray()
encoded_df=pd.DataFrame(onehotencoded,columns=one_hotencoder.get_feature_names_out())

In [34]:
df=pd.concat([input_df.drop(columns='Geography',axis=1),encoded_df],axis=1)

In [36]:
scaled_df=scaler.transform(df)
scaled_df

array([[-0.51598486,  0.91509065,  0.10206204, -0.70080263, -0.2606003 ,
         0.80156938,  0.64337173,  0.97116554, -0.87547065,  0.98511083,
        -0.57581067, -0.56734211]])

In [38]:
prediction=model.predict(scaled_df)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step

array([[0.04890711]], dtype=float32)

In [40]:
prediction_prob=prediction[0][0]
prediction_prob

np.float32(0.048907112)

In [41]:
if prediction_prob>0.5:
    print('The customer is likely to churn')
else:
    print('The customer is not likely to churn')

The customer is not likely to churn